@use '../base/style' as *;

.pagenation {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	height: 200px;
	font-family: $engFont;
	font-size: 14px;
	font-weight: bold;
	color: $mainColor;

	@include tab {
		gap: 5px;
		height: 100px;
	}

	&_numbers {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: auto;
			aspect-ratio: 1;
			background: white;
			border-radius: 100%;

		}

		&.current a {
			color: white;
			background-color: $mainColor;
		}
	}

	&_arrow {
		a {
			height: auto;
		}
	}
}

.next {
	margin-left: 50px;
}

.prev {
	margin-right: 50px;
}


.svgIcon-arrow-right svg {
	display: block;
	width: 35px;
	padding: 9px;
	border: 2px solid $mainColor;
	border-radius: 50%;
	rotate: 180deg;
}

.svgIcon-arrow-left svg {
	display: block;
	width: 35px;
	padding: 9px;
	border: 2px solid $mainColor;
	border-radius: 50%;
}